.error-message-container {
  border-radius: 15px;
  width: fit-content;
  min-height: 45px;
  min-width: 100px;
  max-width: 650px;
  background-color: #dda1a1;  
}

.error-message {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 1.25rem;
  color: #713c3c;
}