<mat-drawer-container *ngIf="isMobileDrawerOpen || !isMobileSize" class="sidenav-container" [hasBackdrop]="false"
  autosize>
  <mat-drawer #drawer class="sidenav-drawer" mode="side" opened="true">
    <nav>
      <a class="side-nav-title-block">
        <img class="side-nav-logo" [src]="imagePath" (click)="openNav()">
        <span class="full-width side-nav-title" *ngIf="isExpanded">LLaMA</span>
        <a class="nav-close-icon-container" (click)="closeNav()">
          <mat-icon class="nav-close-icon" aria-hidden="false" aria-label="Example home icon" fontIcon="close"
            *ngIf="isExpanded"></mat-icon>
        </a>
      </a>

      <div class="nav-link-block">
        <a mat-button [routerLink]="['/home']" (click)="closeMobileDrawer()" class="nav-link"
          [ngClass]="isExpanded ? 'nav-link-opened' : 'nav-link-closed'" routerLinkActive="active-list-item">
          <div class="side-nav-icon" [ngClass]="isExpanded ? 'side-nav-expdanded' : 'side-nav-closed'">
            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M6 22.8787C4.34315 22.8787 3 21.5355 3 19.8787V9.87866C3 9.84477 3.00169 9.81126 3.00498 9.77823H3C3 9.20227 3.2288 8.64989 3.63607 8.24262L9.87868 2.00002C11.0502 0.828445 12.9497 0.828445 14.1213 2.00002L20.3639 8.24264C20.7712 8.6499 21 9.20227 21 9.77823H20.995C20.9983 9.81126 21 9.84477 21 9.87866V19.8787C21 21.5355 19.6569 22.8787 18 22.8787H6ZM12.7071 3.41423L19 9.70713V19.8787C19 20.4309 18.5523 20.8787 18 20.8787H15V15.8787C15 14.2218 13.6569 12.8787 12 12.8787C10.3431 12.8787 9 14.2218 9 15.8787V20.8787H6C5.44772 20.8787 5 20.4309 5 19.8787V9.7072L11.2929 3.41423C11.6834 3.02371 12.3166 3.02371 12.7071 3.41423Z"
                fill="currentColor" />
            </svg>
          </div>
          <span class="full-width side-nav-link" *ngIf="isExpanded">Home</span>
        </a>

        <a mat-button [routerLink]="['/chatbot']" (click)="closeMobileDrawer()" class="nav-link"
          [ngClass]="isExpanded ? 'nav-link-opened' : 'nav-link-closed'" routerLinkActive="active-list-item">
          <mat-icon aria-hidden="false" aria-label="chatbot icon" fontIcon="chat_bubble_outline" class="side-nav-icon"
            [ngClass]="isExpanded ? 'side-nav-expdanded' : 'side-nav-closed'"></mat-icon>
          <span class="full-width side-nav-link" *ngIf="isExpanded">Chat</span>
        </a>

        <a mat-button [routerLink]="['/picture-gen']" (click)="closeMobileDrawer()" class="nav-link"
          [ngClass]="isExpanded ? 'nav-link-opened' : 'nav-link-closed'" routerLinkActive="active-list-item">
          <div class="side-nav-icon" [ngClass]="isExpanded ? 'side-nav-expdanded' : 'side-nav-closed'">
            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M7 7C5.34315 7 4 8.34315 4 10C4 11.6569 5.34315 13 7 13C8.65685 13 10 11.6569 10 10C10 8.34315 8.65685 7 7 7ZM6 10C6 9.44772 6.44772 9 7 9C7.55228 9 8 9.44772 8 10C8 10.5523 7.55228 11 7 11C6.44772 11 6 10.5523 6 10Z"
                fill="currentColor" />
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M3 3C1.34315 3 0 4.34315 0 6V18C0 19.6569 1.34315 21 3 21H21C22.6569 21 24 19.6569 24 18V6C24 4.34315 22.6569 3 21 3H3ZM21 5H3C2.44772 5 2 5.44772 2 6V18C2 18.5523 2.44772 19 3 19H7.31374L14.1924 12.1214C15.364 10.9498 17.2635 10.9498 18.435 12.1214L22 15.6863V6C22 5.44772 21.5523 5 21 5ZM21 19H10.1422L15.6066 13.5356C15.9971 13.145 16.6303 13.145 17.0208 13.5356L21.907 18.4217C21.7479 18.7633 21.4016 19 21 19Z"
                fill="currentColor" />
            </svg>
          </div>
          <span class="full-width side-nav-link" *ngIf="isExpanded">Image Builder</span>
        </a>
      </div>
    </nav>

  </mat-drawer>
</mat-drawer-container>