<div class="message-box-container">
<form #form="ngForm" class="message-box-form" (ngSubmit)="onSendMessage()">
  <!--<mat-form-field>-->
  <textarea 
    matInput
    #formInput
    cdkTextareaAutosize
    #autosize="cdkTextareaAutosize"
    cdkAutosizeMinRows="1"
    cdkAutosizeMaxRows="3"
    class="message-box-input" 
    id="message-box-input" 
    placeholder="Start typing" name="user-question" 
    [(ngModel)]="question" 
    (keyup.enter)="onSendMessage()" (keydown.enter)="onKeydown($event)"
    [disabled]="(messageState | async)?.state  == 'Loading'"> </textarea> 
  <!--</mat-form-field>-->
</form>

<div class="button-send-container">
<button class="button-send" (click)="onSendMessage()">
  <img class="button-send-picture" [src]="ImagePath" height="23">
</button>
</div>
</div>